@media all and (max-width: 1440px) {
    section#main section.wrapper section.spotlight div.left h1 {
        width: 97%;
    }
    section#main section.wrapper section.spotlight div.left p {
        width: 82%;
    }
    section#about section.wrapper section.container div.item div.right p {
        width: 95%;
        font-size: 18px;
    }
    section#about section.wrapper section.container div.item div.right h1 {
        font-size: 59px;
    }
    section#about section.wrapper section.container div.item.three div.right p {
        width: 95%;
        font-size: 16px;
    }
    #service section.container h6 {
        width: 77%;
    }
    #service section.container div.cards ul li h4 {
        font-size: 23px;
    }
    #service section.container div.cards ul li p {
        font-size: 14px;
    }
    #service section.container a.button {
        padding: 14px 16px;
    }
    #partners section.container div.left h1 {
        width: 64%;
    }
    #partners section.container div.left h4 {
        width: 94%;
        margin-bottom: 2px;
    }
    #partners section.container div.left a.button {
        padding: 12px 18px;
        margin-top: 25px;
    }
    #testimonials section.container h4 {
        width: 85%;
    }
    #testimonials section.container div.box div.right h3 {
        width: 98%;
        font-size: 20px;
        margin-bottom: 12px;
    }
    #newsletter h4 {
        width: 63%;
    }
    #contact h4 {
        width: 77%;
    }
}
@media all and (max-width: 1280px) {
    #contact h4 {
        width: 94%;
    }
    #newsletter h1 {
        font-size: 55px;
    }
    #newsletter h4 {
        width: 88%;
    }
    #testimonials section.container div.box div.right h3 {
        width: 99%;
        font-size: 16px;
    }
    #testimonials
        section.container
        div.box
        div.right
        div.elisa
        div.imgcontainer
        span {
        width: 10%;
        margin-right: 20px;
    }
    #testimonials section.container h4 {
        font-size: 19px;
    }
    #testimonials section.container h1 {
        font-size: 50px;
    }
    #partners section.container div.left h1 {
        font-size: 45px;
        margin-bottom: 25px;
    }
    #partners section.container div.left h4 {
        font-size: 16px;
    }
    #partners section.container div.right div.item.one {
        width: 120px;
    }
    #partners section.container div.right div.item.two {
        margin: 40px auto;
        width: 120px;
    }
    #partners section.container div.right div.item.three {
        width: 140px;
    }
    #partners {
        padding: 160px 0;
    }
    #service section.container div.cards ul li span {
        width: 40px;
    }
    #service section.container div.cards ul li h4 {
        font-size: 14px;
    }
    #service section.container {
        padding: 50px 0;
    }
    #service section.container a.button {
        font-size: 16px;
    }
    #service section.container div.cards ul li p {
        font-size: 11px;
    }
    #service section.container h6 {
        font-size: 18px;
    }
    #service section.container h1 {
        font-size: 50px;
        margin-bottom: 26px;
    }
    #service section.container div.catimg {
        width: 60px;
    }
    section#about section.wrapper section.container div.item.three div.right {
        padding-left: 30px;
    }
    section#about
        section.wrapper
        section.container
        div.item
        div.right
        a.button {
        padding: 12px 18px;
        font-size: 18px;
    }
    section#about section.wrapper section.container div.item {
        padding: 55px 0;
    }
    section#about section.wrapper section.container div.item div.right h1 {
        font-size: 41px;
        margin-bottom: 10px;
    }
    section#about section.wrapper section.container div.item div.right {
        padding: 0 16px;
    }
    section#main
        section.wrapper
        section.spotlight
        div.left
        div.content
        ul
        li
        h6 {
        font-size: 12px;
        width: 91%;
    }
    section#main section.wrapper section.spotlight div.left a.button {
        font-size: 16px;
        padding: 12px 28px;
    }
    section#main section.wrapper section.spotlight div.left p {
        font-size: 16px;
        margin-top: 20px;
        line-height: 1.4rem;
    }
    section#main section.wrapper section.spotlight div.left h1 {
        font-size: 64px;
    }
    section#main
        section.wrapper
        section.spotlight
        div.left
        div.container
        div.catimg {
        width: 48px;
    }
    section#main section.wrapper header section.container div.left h1 a {
        font-size: 28px;
    }
    section#main section.wrapper header section.container div.middle ul li {
        margin-right: 28px;
    }
    section#main section.wrapper header section.container div.middle ul li a {
        font-size: 18px;
    }
    section#main
        section.wrapper
        header
        section.container
        div.right
        ul
        li
        a
        span {
        display: inline-block;
        width: 38px;
    }
}
@media all and (max-width: 1050px) {
    section#main section.wrapper section.spotlight div.left p {
        width: 86%;
    }
    section#main
        section.wrapper
        section.spotlight
        div.left
        div.content
        ul
        li
        h6 {
        font-size: 12px;
        width: 98%;
    }
    section#about section.wrapper section.container div.item div.right p {
        width: 85%;
        font-size: 14px;
        margin-bottom: 25px;
    }
    section#about section.wrapper section.container div.item div.right h1 {
        font-size: 38px;
        margin-bottom: 10px;
    }
    section#about section.wrapper section.container div.item.three div.right p {
        width: 83%;
        font-size: 14px;
        margin-bottom: 16px;
    }
    #service section.container h1 {
        font-size: 40px;
    }
    #service section.container div.catimg {
        width: 50px;
    }
    #service section.container h6 {
        width: 68%;
        font-size: 15px;
    }
    #service section.container a.button {
        padding: 14px 28px;
        margin-top: 40px;
    }
    #testimonials section.container h1 {
        font-size: 40px;
    }
    #testimonials section.container h4 {
        width: 66%;
        font-size: 14px;
    }
    #testimonials section.container div.box div.right small.r {
        margin-right: 16px;
    }
    #testimonials section.container div.box div.right small {
        width: 11px;
    }
    #testimonials section.container div.box div.right h3 {
        width: 93%;
        font-size: 14px;
    }
    #testimonials section.container div.box div.right small.l {
        margin-left: 18px;
    }
    #newsletter h1 {
        font-size: 35px;
    }
    #newsletter div.catImg {
        width: 5%;
    }
    #newsletter h4 {
        width: 69%;
        font-size: 16px;
    }
    #newsletter input[type="text"] {
        font-size: 14px;
        height: 45px;
    }
    #newsletter input[type="button"] {
        padding: 12px 22px;
        font-size: 16px;
    }
    #contact {
        padding: 6%;
    }
    #contact h1 {
        font-size: 40px;
    }
    #contact h4 {
        width: 70%;
        font-size: 16px;
    }
    #contact form input {
        width: 48%;
        height: 50px;
        font-size: 14px;
    }
    #contact form textarea {
        width: 48%;
        height: 130px;
        font-size: 13px;
    }
    #contact form {
        height: 190px;
        width: 85%;
        margin: 0px auto;
    }
    footer section.container div.left h1 {
        font-size: 20px;
    }
    footer section.container div.middle ul li a {
        font-size: 14px;
    }
    footer section.container div.middle ul li {
        margin-right: 30px;
    }
    footer section.container div.right ul li a span {
        width: 25px;
    }
    footer h6 {
        font-size: 14px;
    }
    footer hr {
        margin: 25px;
    }
}
@media all and (max-width: 980px) {
    section#main section.wrapper header section.container div.left h1 a {
        font-size: 18px;
    }
    section#main section.wrapper header section.container div.middle ul li a {
        font-size: 14px;
    }
    section#main
        section.wrapper
        header
        section.container
        div.right
        ul
        li
        a
        span {
        display: inline-block;
        width: 28px;
    }
    section#main
        section.wrapper
        section.spotlight
        div.left
        div.container
        div.title
        h2 {
        font-size: 24px;
    }
    section#main
        section.wrapper
        section.spotlight
        div.left
        div.container
        div.catimg {
        width: 40px;
    }
    section#main section.wrapper section.spotlight div.left h1 {
        font-size: 55px;
    }
    section#main section.wrapper section.spotlight div.left p {
        width: 76%;
        font-size: 12px;
    }
    section#main section.wrapper section.spotlight div.left a.button {
        font-size: 14px;
        padding: 12px 28px;
        margin: 12px 0;
    }
    section#main
        section.wrapper
        section.spotlight
        div.left
        div.content
        ul
        li
        h4 {
        font-size: 18px;
        margin-bottom: 8px;
    }
    section#main
        section.wrapper
        section.spotlight
        div.left
        div.content
        ul
        li
        h6 {
        font-size: 8px;
        width: 83%;
    }
    section#about
        section.wrapper
        section.container
        div.item
        div.right
        a.button {
        padding: 10px 18px;
        font-size: 14px;
    }
    section#about section.wrapper section.container div.item div.right p {
        width: 95%;
        font-size: 12px;
    }
    section#about section.wrapper section.container div.item div.right h1 {
        font-size: 34px;
        margin-top: 18px;
    }
    section#about
        section.wrapper
        section.container
        div.item
        div.left
        div.imgcontainer {
        display: inline-block;
        width: 60%;
        margin-right: 18px;
    }
    section#about
        section.wrapper
        section.container
        div.item
        div.left
        div.imgtwo
        img.one {
        margin-bottom: 12px;
    }
    section#about
        section.wrapper
        section.container
        div.item
        div.left
        div.imgtwo {
        display: inline-block;
        width: 43%;
    }
    section#about section.wrapper section.container div.item.three div.right p {
        width: 85%;
        font-size: 11px;
        margin-bottom: 16px;
    }
    #service section.container h6 {
        width: 87%;
    }
    #service section.container div.cards ul li h4 {
        font-size: 12px;
    }
    #service section.container div.cards ul li p {
        font-size: 8px;
    }
    #service section.container a.button {
        margin-top: 24px;
        font-size: 14px;
    }
    #partners section.container div.left h1 {
        font-size: 34px;
    }
    #partners section.container div.left h4 {
        width: 86%;
        font-size: 12px;
    }
    #partners section.container div.left a.button {
        padding: 14px 28px;
        font-size: 14px;
    }
    #partners section.container div.right div.item.three {
        width: 82px;
    }
    #partners section.container div.right div.item.two {
        width: 82px;
    }
    #partners section.container div.right div.item.one {
        width: 82px;
    }
    #testimonials section.container h4 {
        width: 84%;
    }
    #testimonials section.container div.box div.right h3 {
        width: 89%;
        font-size: 10px;
    }
    #testimonials
        section.container
        div.box
        div.right
        div.elisa
        div.imgcontainer
        span {
        width: 12%;
        margin-right: 8px;
    }
    #testimonials
        section.container
        div.box
        div.right
        div.elisa
        div.imgcontainer
        div.text
        h6 {
        font-size: 16px;
    }
    #testimonials
        section.container
        div.box
        div.right
        div.elisa
        div.imgcontainer
        div.text
        p {
        font-size: 10px;
    }
    #testimonials section.container div.dotes span.round {
        width: 8px;
        height: 8px;
    }
    #testimonials section.container div.dotes {
        padding: 16px;
    }
    #newsletter h4 {
        width: 66%;
        font-size: 12px;
    }
    #contact h4 {
        width: 78%;
        font-size: 14px;
    }
    footer section.container div.left h1 {
        font-size: 14px;
    }
    footer section.container div.middle ul li a {
        font-size: 12px;
    }
    footer section.container div.right ul li a span {
        width: 20px;
    }
    footer section.container div.right ul li {
        margin-right: 4px;
    }
    footer hr {
        margin: 16px;
    }
    footer h6 {
        font-size: 12px;
    }
}
@media all and (max-width: 768px) {
    contact form input {
        width: 49%;
        height: 42px;
        font-size: 11px;
    }
    #contact form textarea {
        width: 48%;
        height: 116px;
    }
    #contact form {
        height: 172px;
    }
    #contact form input[type="submit"] {
        font-size: 12px;
    }
    #contact h1 {
        font-size: 32px;
    }
    #contact h4 {
        width: 74%;
        font-size: 11px;
    }
    #newsletter h1 {
        font-size: 26px;
    }
    #newsletter h4 {
        font-size: 10px;
    }
    #newsletter input[type="text"] {
        width: 44%;
    }
    #newsletter input[type="button"] {
        padding: 14px 30px;
        font-size: 12px;
    }
    #testimonials section.container div.box div.left {
        width: 44%;
    }
    #testimonials section.container div.box div.right h3 {
        width: 90%;
        font-size: 8px;
        padding: 0;
    }
    #testimonials section.container div.box div.right div.elisa {
        padding: 0;
    }
    #testimonials
        section.container
        div.box
        div.right
        div.elisa
        div.imgcontainer
        span {
        width: 14%;
        margin-right: 8px;
    }
    #testimonials section.container div.box div.left div.elizabath {
        width: 82%;
    }
    #testimonials section.container h1 {
        font-size: 32px;
    }
    #testimonials section.container h4 {
        width: 87%;
        font-size: 12px;
    }
    #partners section.container div.left h1 {
        width: 74%;
    }
    #partners section.container div.left h4 {
        width: 86%;
        font-size: 10px;
    }
    #service section.container div.cards ul li span {
        width: 30px;
    }
    #service section.container div.cards ul li {
        width: 24%;
    }
    service section.container a.button {
        font-size: 12px;
    }
    #service section.container div.cards ul li p {
        font-size: 7px;
    }
    #service section.container div.cards ul li h4 {
        font-size: 10px;
    }
    #service section.container h6 {
        width: 83%;
        font-size: 12px;
    }
    #service section.container h1 {
        font-size: 34px;
        margin-bottom: 10px;
    }
    section#about
        section.wrapper
        section.container
        div.item
        div.right
        a.button {
        padding: 10px 18px;
        font-size: 10px;
    }
    section#about section.wrapper section.container div.item.three div.right {
        padding-left: 14px;
    }
    section#about section.wrapper section.container div.item.three div.right p {
        width: 97%;
        font-size: 11px;
        margin-bottom: 8px;
    }
    section#about section.wrapper section.container div.item div.right h1 {
        font-size: 25px;
    }
    section#about section.wrapper section.container div.item div.right p {
        width: 97%;
        font-size: 10px;
    }
    section#main section.wrapper section.spotlight div.left h1 {
        font-size: 38px;
    }
    section#main section.wrapper section.spotlight div.left p {
        width: 99%;
        font-size: 12px;
    }
    section#main
        section.wrapper
        section.spotlight
        div.left
        div.content
        ul
        li
        h4 {
        font-size: 14px;
    }
    section#main
        section.wrapper
        section.spotlight
        div.left
        div.content
        ul
        li
        h6 {
        font-size: 7px;
        width: 87%;
    }
    section#main section.wrapper header section.container div.left h1 a {
        font-size: 14px;
    }
    section#main section.wrapper header section.container div.middle ul li {
        margin-right: 22px;
    }
    section#main section.wrapper header section.container div.middle ul li a {
        font-size: 12px;
    }
    section#main
        section.wrapper
        header
        section.container
        div.right
        ul
        li
        a
        span {
        display: inline-block;
        width: 24px;
    }
}
@media all and (max-width: 640px) {
    section#main section.wrapper header section.container div.left h1 a {
        font-size: 12px;
    }
    section#main section.wrapper header section.container div.middle ul li {
        margin-right: 14px;
    }
    #partners section.container div.right div.item.three {
        width: 52px;
    }
    #partners section.container div.right div.item.two {
        width: 52px;
    }
    #partners section.container div.right div.item.one {
        width: 52px;
    }
    #partners section.container div.left h1 {
        font-size: 30px;
        width: 85%;
    }
    #partners section.container div.left h4 {
        width: 80%;
        font-size: 7px;
    }
    #partners section.container div.left a.button {
        padding: 8px 18px;
        font-size: 14px;
    }
    #partners {
        padding: 100px 0;
    }
    section#main section.wrapper header section.container div.middle ul li a {
        font-size: 10px;
    }
    section#main
        section.wrapper
        header
        section.container
        div.right
        ul
        li
        a
        span {
        display: inline-block;
        width: 22px;
    }
    section#main section.wrapper section.spotlight div.left h1 {
        font-size: 28px;
    }
    section#main section.wrapper section.spotlight div.left p {
        width: 99%;
        font-size: 9px;
        line-height: 1rem;
    }
    section#main section.wrapper section.spotlight div.left a.button {
        font-size: 8px;
    }
    section#main
        section.wrapper
        section.spotlight
        div.left
        div.content
        ul
        li
        h6 {
        font-size: 7px;
        width: 88%;
    }
    section#about
        section.wrapper
        section.container
        div.item
        div.right
        a.button {
        padding: 10px 18px px;
        font-size: 7px;
    }
    section#about section.wrapper section.container div.item div.right p {
        margin-bottom: 8px;
    }
    section#about section.wrapper section.container div.item div.right h1 {
        font-size: 19px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    section#about section.wrapper section.container div.item div.right p {
        width: 100%;
        font-size: 8px;
    }
    section#about section.wrapper section.container div.item.three div.right p {
        width: 97%;
        font-size: 8px;
    }
    #service section.container div.catimg {
        width: 40px;
    }
    #service section.container h1 {
        font-size: 32px;
    }
    #service section.container h6 {
        width: 91%;
        font-size: 11px;
    }
    #service section.container div.cards ul li h4 {
        font-size: 9px;
    }
    #service section.container a.button {
        padding: 12px 16px;
        margin-top: 14px;
        font-size: 10px;
    }
    #testimonials section.container h4 {
        width: 98%;
        font-size: 10px;
    }
    #testimonials section.container div.box div.right h3 {
        width: 100%;
        font-size: 8px;
        margin-bottom: 2px;
    }
    #newsletter h4 {
        width: 88%;
    }
    #contact h4 {
        width: 98%;
    }
    #contact form input {
        height: 40px;
        font-size: 12px;
    }
    #contact form textarea {
        height: 94px;
    }
    #contact form {
        height: 140px;
    }
    footer section.container div.left h1 {
        font-size: 10px;
    }
    footer section.container div.middle ul li a {
        font-size: 9px;
    }
    footer section.container div.middle ul li {
        margin-right: 14px;
    }
    footer section.container div.right ul li a span {
        width: 14px;
    }
}
@media all and (max-width: 480px) {
    section#main section.wrapper header section.container div.middle ul li {
        margin-right: 8px;
    }
    section#main
        section.wrapper
        header
        section.container
        div.right
        ul
        li
        a
        span {
        width: 28px;
    }
    section#main section.wrapper header section.container div.left h1 a {
        font-size: 18px;
    }
    section#main section.wrapper section.spotlight div.left h1 {
        font-size: 22px;
    }
    section#main
        section.wrapper
        section.spotlight
        div.left
        div.container
        div.catimg {
        width: 32px;
    }
    section#main section.wrapper header section.container div.middle {
        display: none;
    }
    section#main section.wrapper section.spotlight div.left {
        width: 100%;
        margin-bottom: 20px;
    }
    section#main section.wrapper section.spotlight div.right {
        width: 100%;
    }
    section#main section.wrapper section.spotlight {
        flex-wrap: wrap;
    }
    section#main section.wrapper section.spotlight div.left h1 {
        font-size: 32px;
        width: 69%;
    }
    section#main section.wrapper section.spotlight div.left p {
        width: 100%;
        font-size: 13px;
    }
    section#main section.wrapper section.spotlight div.left a.button {
        font-size: 12px;
        border-radius: 4px;
        margin: 20px 0;
        padding: 12px 12px;
    }
    section#main
        section.wrapper
        section.spotlight
        div.left
        div.content
        ul
        li
        h4 {
        font-size: 18px;
    }
    section#main
        section.wrapper
        section.spotlight
        div.left
        div.content
        ul
        li
        h6 {
        font-size: 11px;
        width: 95%;
    }
    section#main section.wrapper section.spotlight div.right div.sportlightimg {
        display: block;
        width: 55%;
        margin: 0 auto;
    }
    section#about section.wrapper section.container div.item {
        flex-wrap: wrap;
    }
    section#about section.wrapper section.container div.item div.left {
        width: 100%;
        margin-bottom: 20px;
    }
    section#about section.wrapper section.container div.item div.right {
        width: 100%;
    }
    section#about section.wrapper section.container div.item div.right h1 {
        font-size: 32px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    section#about section.wrapper section.container div.item div.right p {
        width: 100%;
        font-size: 13px;
    }
    section#about
        section.wrapper
        section.container
        div.item
        div.right
        a.button {
        padding: 12px 8px;
        font-size: 12px;
        border-radius: 4px;
        margin-top: 5px;
    }
    section#about section.wrapper section.container div.item.three div.right p {
        width: 100%;
        font-size: 12px;
    }
    section#about section.wrapper section.container div.item {
        padding: 30px 0;
    }
    #service section.container div.cards ul {
        flex-wrap: wrap;
    }
    #service section.container div.cards ul li {
        width: 48%;
        margin-bottom: 14px;
    }
    #service section.container div.cards ul li span {
        width: 50px;
        margin-bottom: 5px;
    }
    #service section.container div.cards ul li h4 {
        font-size: 15px;
    }
    #service section.container div.cards ul li p {
        font-size: 10px;
    }
    #service section.container a.button {
        font-size: 14px;
        border-radius: 4px;
    }
    #partners section.container {
        flex-wrap: wrap;
    }
    #partners section.container div.left {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
    #partners section.container div.right {
        width: 100%;
    }
    #partners section.container div.left h1 {
        font-size: 38px;
        width: 100%;
    }
    #partners {
        padding: 60px 0;
    }
    #partners section.container div.left h4 {
        width: 98%;
        font-size: 14px;
    }
    #partners section.container div.left a.button {
        padding: 11px 18px;
        font-size: 14px;
        border-radius: 4px;
    }
    #partners section.container div.right div.item.one {
        width: 90px;
    }
    #partners section.container div.right div.item.two {
        width: 90px;
    }
    #partners section.container div.right div.item.three {
        width: 80px;
    }
    #testimonials section.container div.box {
        flex-wrap: wrap;
    }
    #testimonials section.container div.box div.left {
        width: 100%;
        margin-bottom: 30px;
    }
    #testimonials section.container div.box div.right {
        width: 100%;
    }
    #testimonials section.container div.box div.left div.elizabath {
        width: 90%;
        margin: 0 auto;
    }
    #testimonials section.container div.box div.right h3 {
        width: 100%;
        font-size: 10px;
        margin-bottom: 10px;
    }
    #testimonials
        section.container
        div.box
        div.right
        div.elisa
        div.imgcontainer
        span {
        width: 16%;
        margin-right: 8px;
    }
    #newsletter div.catImg {
        width: 12%;
    }
    #newsletter h1 {
        font-size: 20px;
    }
    #newsletter h4 {
        font-size: 12px;
        width: 94%;
    }
    #contact h4 {
        padding-bottom: 30px;
    }
    #contact form {
        height: 142px;
        width: 100%;
    }
    footer section.container div.middle {
        display: none;
    }
    footer section.container div.left h1 {
        font-size: 16px;
    }
    footer section.container div.right ul li a span {
        width: 20px;
    }
    footer hr {
        margin: 10px;
    }
    #newsletter input[type="text"] {
        font-size: 12px;
    }
}
@media all and (max-width: 360px) {
    #partners section.container div.right div.item.one {
        width: 70px;
    }
    #partners section.container div.right div.item.two {
        width: 70px;
        margin: 30px auto;
    }
    #partners section.container div.right div.item.three {
        width: 70px;
    }
    section#main section.wrapper section.spotlight div.left h1 {
        font-size: 32px;
        width: 77%;
    }
    section#main section.wrapper section.spotlight div.left p {
        width: 100%;
        font-size: 13px;
        line-height: 18px;
    }
    section#main section.wrapper section.spotlight div.left div.content ul {
        flex-wrap: wrap;
    }
    section#main section.wrapper section.spotlight div.left div.content ul li {
        margin-bottom: 10px;
    }
    section#main
        section.wrapper
        section.spotlight
        div.left
        div.content
        ul
        li
        h4 {
        font-size: 20px;
    }
    section#main
        section.wrapper
        section.spotlight
        div.left
        div.content
        ul
        li
        h6 {
        font-size: 14px;
        width: 100%;
    }
    #service section.container h6 {
        width: 100%;
        font-size: 12px;
    }
    #service section.container div.cards ul li {
        width: 100%;
        margin-bottom: 20px;
    }
    #service section.container div.cards ul li h4 {
        font-size: 22px;
    }
    #service section.container div.cards ul li p {
        font-size: 14px;
        width: 77%;
        margin: 0 auto;
    }
    #partners section.container div.left h1 {
        width: 100%;
    }
    #partners section.container div.left h4 {
        width: 100%;
        font-size: 15px;
    }
    #testimonials section.container h4 {
        width: 100%;
        font-size: 12px;
    }
    #testimonials section.container h1 {
        font-size: 36px;
    }
    #newsletter h4 {
        font-size: 13px;
        width: 100%;
    }
}
